@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    

<h1>Index</h1>
<h1> Bienvenidos a mi sitio web MVC CORE</h1>
 <a asp-action="Index" asp-controller="Person" >Person</a>
@Html.ActionLink("ir a Person","Index","Person")

